// fonts
@font-face {
    font-family: "Aeroport-mono";
    src: url("../fonts/Aeroport-monospaced.otf");
  }
  @font-face {
    font-family: "Aeroport-regular";
    src: url("../fonts/Aeroport-regular.otf");
  }
  @font-face {
    font-family: "Zoloto-display";
    src: url("../fonts/Zoloto_45.otf");
  }