
// menu 
.zoloto-header {
    border-bottom: 1px solid black;
    padding: 33px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
  }
  .header-logo {
    width: 634px;
    height: 571px;
    background: $logo-big top/contain no-repeat;
  }

  .header-menu-main-page {
    font:15px "Aeroport-mono";
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    right: 33px;
    &:before {
      content: '';
      width: 10px;
      height: 10px;
      background: black;
      position: absolute;
      top: 6px;
      left: -17px;
    }
  }
  .header-about {
    width: 420px;
    // height: 150px;
    // position: absolute;
    // right: 33px;
    // bottom: 44px;
    font: 20px/25px "Aeroport-regular";
    align-self: flex-end;
  }
  