// padding 

$p2 : 10px;
$p5 : 25px;


// images
$logo-big: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MzQgNTcxLjkiPjx0aXRsZT5Bc3NldCAxPC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwYXRoIGQ9Ik0wLDEzNi4zVjBINjMzLjg2VjEzNi4zWk0wLDI5Mi42Miw2MzMuODYsMTM2LjNWMjczLjU2TDAsNDI5Ljg4Wk02MzQsNDI4LjM0djE0MkwwLDU3MS45di0xNDJaIi8+PC9nPjwvZz48L3N2Zz4=);
$logo-small: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NyA0MC42NiI+PHRpdGxlPkFzc2V0IDE8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBhdGggZD0iTTAsMEg0Ni44NFYxMC4zM0gwWk00Ni44NCwxMC4zM1YyMC40MUwwLDMwLjE3VjIwLjA4Wk0wLDMwLjE3SDQ3VjQwLjY2SDBaIi8+PC9nPjwvZz48L3N2Zz4=);
$icon-arrow: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOC4yNiAyNC44NCI+PHRpdGxlPkFzc2V0IDQ8L3RpdGxlPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PHBhdGggZD0iTTAsMTIuNDJWNUwxMy4yNywwVjcuNDdaTTEzLjI3LDI0Ljg0LDAsMTkuODlWMTIuNDJsMTMuMjcsNVptMTUtMTYuMDd2Ny4yOWgtMTVWOC43N1oiLz48L2c+PC9nPjwvc3ZnPg==);

// font 

